# IDE
#--------------------------------------
# pycharm files
.idea/

# sublime
*.sublime-project
*.sublime-workspace

# vscode
*.vscode

# Atom
.tags*

# Executables
#--------------------------------------
*.exe

# Binary files
#--------------------------------------
*.img

# System Files
#--------------------------------------
# windows
*.ini
